<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGRNE1GgV_YBuEea9Igv7led117xJ8KPY</string>
	<key>GCM_SENDER_ID</key>
	<string>916291135999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stasy.KIYIZGROUP</string>
	<key>PROJECT_ID</key>
	<string>giftshop-d7b5d</string>
	<key>STORAGE_BUCKET</key>
	<string>giftshop-d7b5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916291135999:ios:34e8861663e4b329481fca</string>
	<key>DATABASE_URL</key>
	<string>https://giftshop-d7b5d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>